@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  }
  
  .main {
    margin-left: 16rem; /* Asegura que el contenido principal no quede detrás del sidebar */
  }
  
  .flex {
    display: flex;
  }
  
  .flex-1 {
    flex: 1;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
